[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = {version = "==0.17.6", extras = ["standard"]}
pre-commit = "*"
celery = {extras = ["redis"], version = "*"}

[dev-packages]
black = "==22.3.0"
pre-commit = "*"

[requires]
python_version = "3.9"
